<table id="ccr">
    <% @users_data.each do |user| %>
      <tr>
        <td><%=user[:name]%> :</td>
        <td> <%=user[:call_conversion_rate][timeframe.to_sym]%> </td>
      </tr>
    <%end%> 
  </table> 
