html {
	font-size: 20px;
}

body {
	margin: 1.5em;
}

.container {
	text-align: center;
	background-color: #FFFFFF;
	outline-color: #000;
}
.row {
	margin-right: 5px; 
	margin-left: 5px;
}

.col-md-6 {
	outline-color: #000;
}

@media (min-width: 768px) {
	.form-inline .form-group{
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
	}
}

#revenue {
	height: 60%;
	display: block;
	color: #1C3C54;
}

#calls {
	height: 150px;
	width: 200px;
}

#won {
	height: 60%;
	display: block;
}

#conversion {
	height: 150px;
	width: 200px;
}

#budget {
	height: 150px;
	width: 200px;
}